.Messages-chain {
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 0 3px 3px #9f9f9f;
  border: 2px solid #4a4a4a;
  background-color: white;
  border-radius: 5px;
  &__title {
    color: #1976d2;
    text-shadow: 0 0 1px gray;
    font-size: 32px;
    margin-bottom: 20px;
    font-style: italic;
  }
  &__data-block {
    box-shadow: 0 0 3px 3px #9f9f9f;
    border: 2px solid #4a4a4a;
    border-radius: 2px;
    display: flex;
    background-color: white;
    width: 900px;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    justify-content: space-between;
  }
  &__title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__switch-title {
    font-size: 18px;
  }
  &__form-container {
    box-shadow: 0 0 3px 3px #9f9f9f;
    border: 2px solid #4a4a4a;
    border-radius: 2px;
    background-color: white;
    width: 900px;
    padding: 20px;
    margin-top: 30px;
  }
  &__submit-button {
    margin-top: 20px;
  }
  &__date-block {
    font-size: 18px;
    color: #ff0058;
  }
  &__time {
    margin-left: 20px;
  }
  &__message-container {
    margin-top: 20px;
    &--my-message {
      margin-left: 440px;
    }
  }
  &__data {
    align-items: center;
    height: 30px;
    display: flex;
    width: 940px;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
