.h2 {
    color: #ffd700;
    text-shadow: 0 0 5px black;
    font-size: 32px;
}

.dataBlock {
    box-shadow: 0 0 2px 2px gray;
    border-radius: 2px;
    background-color: white;
    width: 95%;
    padding: 10px;
}

.img {
    height: 200px;
    margin: 10px;
}

.info {
    font-size: 24px;
}

.item {
    margin: 15px;
}

.cabinetWrapper {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.h1 {
    font-size: 36px;
}