.header {
    grid-area: h;
    border-bottom: 2px solid #01579b;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 75px;
    margin-top: 3px;
    margin-left: 40px;
}

.outBlock {
    display: flex;
    align-items: center;
    margin-right: 70px;
}

button {
    margin-left: 40px;
}

.avatar {
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
